{% extends 'ImageAnnotatorBundle:_Base:base.html.twig' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="col-md-12">
        <!-- my forums -->
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <hr class="ia-separator-top" />
                    <p class="text-center" style="margin-bottom: 20px;">Hello</p>
                <hr class="ia-separator-bottom" />
            </div>
        </div>
        
    </div>
{% endblock content %}
