/* line 1, sass/images.scss */
#ia-image-canvas {
  position: absolute;
  z-index: 3;
}

/* line 5, sass/images.scss */
.ia-media-img {
  position: relative;
  overflow: scroll;
  z-index: 2;
}

/* line 11, sass/images.scss */
.ia-image-container {
  position: relative;
  overflow: scroll;
  max-height: 768px;
}
