/* line 20, sass/_base.scss */
body {
  padding-top: 85px;
  padding-bottom: 40px;
  /* background-color: #eeeeee; */
}
@media (max-width: 1200px) {
  /* line 20, sass/_base.scss */
  body {
    padding-top: 70px;
  }
}

/* line 30, sass/_base.scss */
.ia-navbar-header {
  float: none;
}

@media (max-width: 1200px) and (min-width: 768px) {
  /* line 35, sass/_base.scss */
  .ia-navbar-header {
    float: left;
  }
}
/* line 40, sass/_base.scss */
.ia-navbar-logo {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 70px;
}

/* line 46, sass/_base.scss */
.ia-navbar-top {
  min-height: 70px;
  color: white;
  /* background-color: $eku-primary; */
}

/* line 52, sass/_base.scss */
.ia-navbar-nav-top > li > a {
  padding-top: 21px;
  padding-bottom: 21px;
}

/* line 57, sass/_base.scss */
.ia-navbar-right-top > li > a {
  line-height: 2;
}

/* line 61, sass/_base.scss */
.ia-navbar-bottom {
  min-height: 25px;
  color: white;
}

/* line 66, sass/_base.scss */
.ia-copyright {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

/* line 71, sass/_base.scss */
.ia-navbar-side {
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 25px;
  background-color: #888888;
}
/* line 80, sass/_base.scss */
.ia-navbar-side a {
  color: #000000;
  font-size: 1.2em;
}
/* line 85, sass/_base.scss */
.ia-navbar-side div {
  padding-bottom: 10px;
}
/* line 88, sass/_base.scss */
.ia-navbar-side div img {
  max-width: 50px;
  max-height: 50px;
}
@media (max-width: 1200px) {
  /* line 71, sass/_base.scss */
  .ia-navbar-side {
    position: relative;
    top: 0;
    right: 0;
    bottom: inherit;
    margin-bottom: 15px;
  }
  /* line 101, sass/_base.scss */
  .ia-navbar-side div {
    padding-bottom: 0;
    display: inline-block;
  }
}

/* line 108, sass/_base.scss */
.ia-flash-message-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 113, sass/_base.scss */
.ia-separator-top, .ia-separator-bottom {
  border-top: 1px solid #000000;
}

/* line 117, sass/_base.scss */
.ia-separator-bottom {
  margin-top: 0;
}

/* line 123, sass/_base.scss */
.ia-date {
  color: #aaa;
  font-size: 0.9em;
}

/* line 128, sass/_base.scss */
.ia-avatar {
  max-height: 150px;
}

/* line 133, sass/_base.scss */
.ia-table > thead, .ia-myFiles-table > thead {
  background-color: white;
}

/* line 138, sass/_base.scss */
.ia-popup-dialog {
  position: fixed !important;
  z-index: 5000;
}

/* line 1, sass/_default.scss */
.ia-default-intro {
  margin-top: 100px;
  min-height: 500px;
}
/* line 5, sass/_default.scss */
.ia-default-intro div.thumbnail {
  height: 500px;
}

/* line 10, sass/_default.scss */
.ia-default-register > div {
  background-color: #5a5a5a;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
}

/* line 5, sass/_media.scss */
.ia-media-video, .ia-media-audio {
  width: 100%;
}

/* line 1, sass/images.scss */
#ia-image-canvas {
  position: absolute;
  z-index: 3;
}

/* line 5, sass/images.scss */
.ia-media-img {
  position: relative;
  overflow: scroll;
  z-index: 2;
}

/* line 11, sass/images.scss */
.ia-image-container {
  position: relative;
  overflow: scroll;
  max-height: 768px;
}

/* line 5, sass/annotations.scss */
.ia-media-video, .ia-media-audio {
  width: 100%;
}
