{% trans_default_domain 'ImageAnnotatorBundle' %}

<div class="row" id="chooseFile">
	<div class="col-md-12">
		<div class="form-group">
			<a class="btn btn-primary" id="annotation-polygon-button" href="#"><i class="fa fa-upload"></i> {{ 'annotationGateway.buttons.upload'|trans }}</a>
			<a class="btn btn-primary" id="annotation-polygon-button" href="#"><i class="fa fa-google"></i> {{ 'annotationGateway.buttons.google'|trans }}</a>
			<a class="btn btn-primary" id="search-images-flickr-link" href="#"><i class="fa fa-flickr"></i> {{ 'annotationGateway.buttons.flickr'|trans }}</a>
		</div>
	</div>
</div>

