{% trans_default_domain 'ImageAnnotatorBundle' %}

<div class="row">
	
	<div class="table-responsive">
			<table
				class="table table-bordered table-hover ia-annotation-table">
				<thead>
					<th><i class="fa fa-wrench"></i> 
					</th>
					<th>{{ 'annotationGateway.list.title'|trans }}</th>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
</div>


