<div id="uploadForms" style="display: none;">
        {{ form_start(uploadForms) }}
        {{ form_widget(uploadForms.resource.file, {attr: {'name': 'file[]'}}) }}
        {{ form_widget(uploadForms) }}
        {{ form_end(uploadForms) }}
</div>
