<div id="uploadForms" style="display: none;">
    {% for form in uploadForms %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endfor %}
</div>
