/* line 1, sass/images.scss */
#ia-image-canvas {
  position: absolute;
  z-index: 3;
}

/* line 6, sass/images.scss */
#ia-image-canvas svg {
  width: 100%;
  height: 100%;
}

/* line 10, sass/images.scss */
.ia-media-img {
  position: relative;
  overflow: scroll;
  z-index: 2;
  margin: 0px;
}

/* line 17, sass/images.scss */
.ia-image-container {
  position: relative;
  overflow: auto;
  max-height: 768px;
  padding: 0px;
}
