@CHARSET "UTF-8";


img.avatar
{
	width: 200px;
	height: 200px;	
	border: 2px solid black;
}

a img.avatar:hover
{
	border: 2px solid blue;
}

.avatarCell {
	width: 50px;
}

div.profile {
	margin-top: 10px;
}
